/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/



//COLORS

$background-color: #D3D3D3;
$color: #16DBCB;
$colortwo: #242424;


//FOOTER

$footer-height: 300px;


//GUTTERS

$gutters: 20px;

body {
    @include body-font-regular;
}

h1{
    @include fontSize (15px);
    @include headline-font;
    color: $color;
    margin: 15px 5px 5px 25px;
}

h2 {

    @include fontSize (15px);
    @include headline-font;
    color: $color;
    margin: 5px 15px 5px 25px;

}

h3 {
    @include fontSize (11px);
    @include body-font-regular;
    color: darken(#fff, 20%);
    margin: 5px 15px 10px 25px;

}



h4 {
    @include fontSize (12px);
    @include headline-font;
    color: #fff;
    margin: 5px 5px 5px 25px;
}


h5 {
    @include fontSize (11px);
    @include body-font-regular;
    color: darken(#fff, 30%);
    margin: 5px 5px 5px 25px;

}


//img {
//    height: auto;
//    max-width: 100%;
//}

li {
    list-style-type: none;
    margin: auto;
    @include fontSize (12px);
    padding-bottom: 5px;
    text-decoration: none;
}

ul {
    text-decoration: none;
}


em {
    @include body-font-regular;
    @include fontSize (12px);
    color: #fff;
    
}


i {
    @include body-font-italic;
    @include fontSize (14px);
    color: #fff;
}

p {
    color: $color;
    margin: 5px 5px 5px 25px;
    @include fontSize (12px);
    @include body-font-regular;
    padding-bottom: 10px;
}

img {
    height:auto;
    max-width: 100%;
    
//    opacity: 1.0;
//    filter: alpha(opacity=100); /* For IE8 and earlier */
}

img:hover {
    opacity: 0.4;
    transition: color 400ms linear;
}


a {
    text-decoration: none;
}



dl {
    margin: 70px 70px 70px 70px;
    @include body-font-regular;
    
}

dt {
    padding: 10px 10px 10px 10px;
    @include fontSize (14px);
    @include headline-font;
    color: $color;
    
}

dd {
    padding: 10px 10px 10px 10px;
    @include fontSize (14px);
    @include body-font-regular;
    color: darken(#fff, 15%);
}


small {
    display: inline-block;
}
