/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/



//COLORS

$background-color: #D3D3D3;
$color: #16DBCB;
$colortwo: #242424;


//FOOTER

$footer-height: 100px;


//GUTTERS

$gutters: 20px;



h1, h2, h3 {
    @include fontSize (14px);
    @include headline-font;
    color: $color;
    margin: 15px 5px 5px 25px;
}

h4 {
    @include fontSize (12px);
    @include body-font-italic;
    margin: none;
    padding: none;

}

img {
    height: auto;
    max-width: 100%;
}

li {
    list-style-type: none;
    margin: auto;
    @include fontSize (12px);
}