/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


//TYPEKIT FONT

@mixin body-font-regular {
    font-family: "aktiv-grotesk-std",sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: "aktiv-grotesk-std",sans-serif;
    font-style: italic;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: "aktiv-grotesk-std",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin headline-font {
    font-family: "adelle",serif;
    font-style: normal;
    font-weight: 400;
}