/* 
Layout Rules
    CSS, by its very nature, is used to lay elements out on the page. However, there is a distinction between layouts dictating the major and minor components of a page. The minor components—such as a callout, or login form, or a navigation item—sit within the scope of major components such as a header or footer. I refer to the minor components as Modules and will dive into those in the next section. The major components are referred to as Layout styles.
    Layout styles can also be divided into major and minor styles based on reuse. Major layout styles such as header and footer are traditionally styled using ID selectors but take the time to think about the elements that are common across all components of the page and use class selectors where appropriate.
*/



//NAVIGATION


.navigation li {
    display: inline-block;
    margin: 0 0.5em;
}

.navigation li a {
    display: inline-block;
    padding: 1em 0.5em;
    color: $color;
    text-decoration: none;
    border-style: none;
    @include fontSize (14px);
    padding: 0 50px 0 4px;
}


//FOOTER



.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto $footer-height * -1;
}

.sticky {
	height: $footer-height; 
}

footer[role="bottom"] {
  background-color: $colortwo;
	height: $footer-height;
  h1 { 
    padding-top: 20px!important;
  }
}

footer[role="bottom"] p {
    color: $color;
    @include fontSize (14px);

}

//BODY


body {
    background-color: $background-color;
}

//HEADER BANNER

header[role="banner"] {
    //animation: colorchange-font 5s linear 1s infinite alternate;
    background-color: $colortwo;
    color: $background-color;
    padding: 12px;
    margin-bottom: 15px;
}


header[role="banner"] img {
    border: 8px solid $background-color;
    width: 360px;
	height: 360px;
    text-align: center;
    margin-top: 20px;
}

header[role="banner"] a {
    color: $background-color;
    @include body-font-regular;
    transition: color 400ms linear;
}

header[role="banner"] a:hover {
    color: darken($background-color, 12%);
    transition: color 400ms linear;
}

header[role="banner"] svg {
    color: darken($background-color, 12%);
    transition: color 400ms linear;
}


//PICTURES


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrapper {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
}

.photo-grid {
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}

.photo-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #bbb;
}

.photo-grid li {
  float: left;
  position: relative;
  width: 25%;
  border: 1px solid #bbb;
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 960px;
  }
  
  .photo-grid li {
    width: 33.333%;
  }
  
  .photo-grid li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }  

  .photo-grid li {
    width: 50%;
  }
  
  .photo-grid li:last-child {
    display: inline-block;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 300px;
  } 

  .photo-grid li {
    width: 100%;
  }
  
  .photo-grid li:last-child {
    display: inline-block;
  }
}
